@import "../../../assets/styles/variables.scss";

.repass-forms {
    background-color: $wm-bg;
  max-width: $con-m-w;
  width: 350px;
  margin-bottom: 10px;
  .repass-forms-content{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid $wm-border;
    justify-content: center;
    align-items: center;
    width: 100%;
    img {
      margin-bottom: 5px;
    }
    h3 {
      color: $text-dark;
      text-align: center;
      font-size: 16px;
      margin-bottom: 5px;
    }
    p {
      color: $text-dark;
      margin-bottom: 20px;
      text-align: center;
      font-size: 14px;
    }
  }
}
