<div class="row center h-screen bg-light">
  <form
    *ngIf="isSuccess === false && isFailTokenExpire === false"
    class="repass-forms"
    [formGroup]="repassFormGroup"
    (ngSubmit)="onSubmit()"
  >
    <div class="repass-forms-content">
      <img src="https://i.imgur.com/zqpwkLQ.png" alt="instagram logo" />
      <h3>ตั้งรหัสผ่านใหม่</h3>
      <p></p>

      <div class="input-form">
        <input
          type="password"
          placeholder=" "
          formControlName="password"
          required
        />
        <label for="password">รหัสผ่าน</label>
      </div>

      <div class="input-form">
        <input
          type="password"
          placeholder=" "
          formControlName="cfPassword"
          required
        />
        <label for="cfPassword">ยืนยันรหัสผ่าน</label>
      </div>

      <button
        type="submit"
        class="submit-button"
        [ngClass]="{ 'button-active': !repassFormGroup.invalid }"
        [disabled]="repassFormGroup.invalid"
      >
        ยืนยัน
      </button>
    </div>
  </form>

  <div
    *ngIf="isFailTokenExpire === true && isResendSuccess === false"
    class="repass-forms"
  >
    <div class="repass-forms-content">
      <img src="https://i.imgur.com/zqpwkLQ.png" alt="instagram logo" />
      <h3>คำร้องขอรีเซ็ตรหัสผ่านของคุณ<br />หมดอายุแล้ว</h3>
      <p>โปรดทำการร้องขอใหม่เพื่อรับลิงก์รีเซ็ตรหัสผ่าน</p>

      <button
        class="submit-button button-active"
        (click)="resendResetTokenPassword()"
      >
        ร้องขอใหม่อีกครั้ง
      </button>
    </div>
  </div>

  <div *ngIf="isResendSuccess === true" class="repass-forms">
    <div class="repass-forms-content">
      <img src="https://i.imgur.com/zqpwkLQ.png" alt="instagram logo" />
      <h3>คำขอรีเซ็ตรหัสผ่านของคุณสำเร็จแล้ว</h3>
      <p>โปรดตรวจสอบอีเมลของคุณเพื่อดำเนินการต่อ</p>
    </div>
  </div>
</div>
