// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$frontend-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($frontend-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($frontend-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($frontend-theme);
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: end;
}

.gap-1 {
  gap: 10px;
}

.h-screen {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.input-form {
  position: relative;
  margin-bottom: 20px;
  background-color: $wm-input-bg;
  width: 100%;
  label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    color: #aaa;
    pointer-events: none;
    padding: 0 4px;
    background-color: $wm-bg;
  }

  input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    border: 1px solid $wm-border;
    border-radius: 4px;
    outline: none;
    background-color: inherit;

    &:focus {
      border-color: $wm-input-border-focus;
    }

    &:focus + label,
    &:valid + label {
      top: 0;
      font-size: 12px;
      color: $wm-input-border-focus;
    }
  }
}

.submit-button {
  background-color: $bt-bg-opacity;
  color: #fff;
  font-weight: 800;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}
.button-active {
  background-color: $bt-bg;
}

.bg-light {
  background-color: $wm-sub-bg;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-action {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.container {
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 100%;
  }

  @media (min-width: 768px) {
    max-width: 100%;
  }

  @media (min-width: 992px) {
    max-width: 100%;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1200px;
  }
}
