
$con-m-w: 350px;

// white mode
$wm-bg: #fff;
$wm-sub-bg: #fafafa;
$wm-border: #dbdbdb;
$wm-input-bg: #fafafa;
$wm-input-border-focus: #555;
$wm-label: #ccc;


// button 
$bt-bg-opacity: #4cb5f9;
$bt-bg: #1877f2;

// link
$l-color: #53bdeb;

// text
$text-white: #fff;
$text-dark: #2D3436;
$text-gray: #939393;
$text-primary: #1877f2;